/* styles for portrait mode */
@media screen and (orientation: portrait) {
  /* your CSS rules here */
}

/* styles for landscape mode */
@media screen and (orientation: landscape) {
  /* your CSS rules here */
}

@media (max-width: 600px) {
  /* styles for small screens */
}

@media (min-width: 601px) and (max-width: 1200px) {
  /* styles for medium screens */
}

@media (min-width: 1201px) {
  /* styles for large screens */
}

/*Video Background*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
/*Video Background Button*/
#myPlay {
  width: fit-content;
  font-size: 18px;
  padding: fit-content;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myPlay:hover {
  background: #ddd;
  color: black;
}

/* The Overlay (background) */
.overlay { background-image: url('./images/ff7r.jpg') ;
 /* Height & width depends on how you want to reveal the overlay (see JS below) */   
 height: 0;
 width: 100%;
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 left: 0;
 top: 0;
 background-color: rgb(0,0,0); /* Black fallback color */
 background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
 overflow-x: hidden; /* Disable horizontal scroll */
 transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
 position: relative;
 top: 25%; /* 25% from the top */
 width: 100%; /* 100% width */
 text-align: center; /* Centered text/links */
 margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
 padding: 8px;
 text-decoration: none;
 font-size: 36px;
 color: #fffdfd;
 display: block; /* Display block instead of inline */
 transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
 color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
 position: absolute;
 top: 20px;
 right: 45px;
 font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
 .overlay a {font-size: 20px}
 .overlay .closebtn {
   font-size: 40px;
   top: 15px;
   right: 35px;
 }
}

a {
    color: inherit;
}
@import url("https://fonts.googleapis.com/css?family=Play"); 

#container {
    margin: 0 auto;
    width: 100%;
    align-content:left;
    display: inline-block;
    text-rendering: optimizeLegibility;
}

.layout {
  width: 1850px;
  height: 1000px;

  display: grid;
  grid:
    "header header header header header" 1fr
    "sidenav body body body rightSide" 1fr
    "sidenav body body body rightSide" 1fr
    "sidenav body body body rightSide" 1fr
    "footer footer footer footer footer" 1fr
    / auto auto auto auto auto;
  gap: 10px;
}

.header { grid-area: header; 
  position: relative;
  background: #333333 url('images/ALDYZ STATION OVERLAY.png'); /* display: flex; */
  color: #FFFFFF;
  text-shadow: rgb(0, 0, 0) 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #ff2d2d 0px 0px 20px, #ff2d2d 0px 0px 30px, #ff2d2d 0px 0px 40px, #ff2d2d 0px 0px 50px, #ff2d2d 0px 0px 75px, 2px 2px 0px rgba(206,89,55,0);
  text-align: center;
  font-family: "Comic Sans MS", "Comic Sans", cursive;          
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.leftSide { grid-area: leftSide; }
.body { grid-area: body; }
.rightSide { grid-area: rightSide; }
.footer { grid-area: footer; }

/* Style the side navigation */
.sidenav {
    grid-area: sidenav;
    height: fit-content;
    width: 200px;
    z-index: 1;
    top: 20;
    left: 10;
    background-color: #111;
    overflow-x: hidden;
    color: #FFFFFF;
    text-shadow: rgb(0, 0, 0) 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #ff2b2b 0px 0px 20px, #ff2d2d 0px 0px 30px, #ff2d2d 0px 0px 40px, #ff2d2d 0px 0px 50px, #ff2d2d 0px 0px 75px, 2px 2px 0px rgba(206,89,55,0);
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;          
}
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}
/* Side navigation links */
/* Style the sidenav links and the dropdown button */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
    text-shadow: rgb(0, 0, 0) 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #ff2d2d 0px 0px 20px, #ff2d2d 0px 0px 30px, #ff2d2d 0px 0px 40px, #ff2d2d 0px 0px 50px, #ff2d2d 0px 0px 75px, 2px 2px 0px rgba(206,89,55,0);
    display: block;
    border: none;
    background: none;
    text-align: center;
    cursor: pointer;
    outline: none;
  }
.content { grid-area: content; }

.footer { grid-area: footer; 
    background: #333333 url('images/ALDYZ STATION OVERLAY.png'); /* display: flex; */
    color: #FFFFFF;
    text-shadow: rgb(0, 0, 0) 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #ff2d2d 0px 0px 20px, #ff2d2d 0px 0px 30px, #ff2d2d 0px 0px 40px, #ff2d2d 0px 0px 50px, #ff2d2d 0px 0px 75px, 2px 2px 0px rgba(206,89,55,0);
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;          
}
#hello {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: top;
    font-size: 25px;
    padding: 5px;
    margin: 10px;
    display: center;
}
@media only screen and (max-width: 690px) {
    #container {
        max-width:100%;
        margin: 0 auto;
    }
    
}

@media only screen and (min-width: 690px) {
    #container {
            max-width:100%;
            align-content:center;
            margin: 0 auto;
        }

    }
/* Drop down button menu sidenav layout */
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
    text-shadow: rgb(0, 0, 0) 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #ff2d2d 0px 0px 20px, #ff2d2d 0px 0px 30px, #ff2d2d 0px 0px 40px, #ff2d2d 0px 0px 50px, #ff2d2d 0px 0px 75px, 2px 2px 0px rgba(206,89,55,0);
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
  }
    /* creates button box over sidenav bar */
   /* .dropdown {
      position: relative;
      display: inline-block;
    } */
    /* Change color on hover */
.sidenav a:hover .sidenav:hover .dropdown-.dropdown-container .dropbtn, .dropdown-btn:hover .dropdown-btn:focus {
    background-color: #ddd;
    color: rgb(0, 0, 0);
} 
    /* Add an active class to the active dropdown button */
    .active {
        background-color: rgb(255, 43, 43);
        color: rgb(0, 0, 0);
      }
    /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
    .dropdown-container {
        text-align: center;
        display: none;
        background-color: #111;
        min-width: 100px;
        z-index: 1;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        color: #FFFFFF;
        padding: 12px 16px;
        text-decoration: none;
    }
    /* Drop down menu style */
    .dropdown-content a {
        background-color: #111;
        color: #FFFFFF;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    a {
        color: inherit;
    }
    /* Optional: Style the caret down icon */
    .fa-caret-down {
        float: right;
        padding-right: 8px;
      }
  /* Some media queries for responsiveness */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
.dropdown-container a:hover {background-color: #ddd;
    color:#070406;}

.dropdown:hover .dropdown-container {display: block;}
.dropdown:hover .dropbtn {background-color: #111;
}
/*^^^ Drop down button menu sidenav layout ^^^*/
.show {
    display: block;
  }
/* Social media icons */
/* Style all font awesome icons */
/*.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */
/* Twitch */
.fa-twitch {
  background: #580054;
  color: white;
}
/* TikTok */
.fa-tiktok {
  background: #9e0396;
  color: white;
}
/* Reddit */
.fa-reddit {
  background: #580054;
  color: white;
}
/* Github */
.fa-github {
  background: #f88d01;
  color: white;
}
/* Rounded Buttons */
/*.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}