a {
    color: inherit;
}
@import url("https://fonts.googleapis.com/css?family=Play"); 
#container {
    margin: 0 auto;
    width: 100%;
    align-content:left;
    display: inline-block;
    text-rendering: optimizeLegibility;
}
.layout { /* Website grid layout */
    width: 1850px;
    height: 1000px;
    display: grid;
    grid:
      "header header header header header" 1fr
      "sidenav content content content content" 1fr
      "sidenav content content content content" 1fr
      "sidenav content content content content" 1fr
      "footer footer footer footer footer" 1fr
      / auto auto auto auto auto;
    gap: 10px;
}
.header { grid-area: header; 
          background: #333333 url('images/ALDYZ STATION OVERLAY.png'); /* display: flex; */
          color: #FFFFFF;
          text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px, 2px 2px 0px rgba(206,89,55,0);
          text-align: center;
          font-family: "Comic Sans MS", "Comic Sans", cursive;          
}
/* Style the side navigation */
.sidenav {
    grid-area: sidenav;
    height: fit-content;
    width: 200px;
    z-index: 1;
    top: 20;
    left: 10;
    background-color: #111;
    overflow-x: hidden;
    color: #FFFFFF;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px, 2px 2px 0px rgba(206,89,55,0);
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;          
}
/* Side navigation links */
.sidenav a {
    color: white;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    display: block;
}
/* Change color on hover */
.sidenav a:hover .dropdown:hover .dropbtn, .dropbtn:focus  {
    background-color: #ddd;
    color: black;
}
.content { grid-area: content; }

.footer { grid-area: footer; 
    background: #333333 url('images/ALDYZ STATION OVERLAY.png'); /* display: flex; */
    color: #FFFFFF;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px, 2px 2px 0px rgba(206,89,55,0);
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;          
}
#hello {
    text-align: center;
    font-size: 25px;
    padding: 5px;
    margin: 20px;
    display: inline;
}
@media only screen and (max-width: 690px) {
    #container {
        max-width:100%;
        margin: 0 auto;
    }
    
}

@media only screen and (min-width: 690px) {
    #container {
            max-width:100%;
            align-content:center;
            margin: 0 auto;
        }

    }
/* Drop down button menu sidenav layout */
    .dropbtn {
        background-color: #111;
        color: #FFFFFF;
        text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px, 2px 2px 0px rgba(206,89,55,0);
        font-size: 16px;
    }
    /* creates button box over sidenav bar */
   /* .dropdown {
      position: relative;
      display: inline-block;
    } */
    /*^^^ creates button box over sidenav bar ^^^*/
    .dropdown-content {
      display: none;
      position: center;
      background-color: #f1f1f1;
      min-width: 100px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    /* Drop down menu style */
    .dropdown-content a {
        background-color: #111;
        color: #FFFFFF;
        text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px, 2px 2px 0px rgba(206,89,55,0);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content a:hover {background-color: #ddd;}
    
    .dropdown:hover .dropdown-content {display: block;}
    
    .dropdown:hover .dropbtn {background-color: #111;}
/*^^^ Drop down button menu sidenav layout ^^^*/

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}