a {
    color: inherit;
}
@import url("https://fonts.googleapis.com/css?family=Play"); 

body {
    font-family: "Play", comic-sans;
    background-color: #355c7d;
    font-size: inherit;
    line-height: 2;
}
.layout {
    width: 1800px;
    height: 900px;
    display: grid;
    grid:
      "header header header header header" 1fr
      "sidenav content content content content" 1fr
      "sidenav content content content content" 1fr
      "sidenav content content content content" 1fr
      "footer footer footer footer footer" 1fr
      / auto auto auto auto auto;
    gap: 10px;
}
.header { grid-area: header; 
          background: #333333 url('images/ALDYZ STATION OVERLAY.png'); /* display: flex; */
          color: #FFFFFF;
          text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px, 2px 2px 0px rgba(206,89,55,0);
          text-align: center;
          font-family: "Comic Sans MS", "Comic Sans", cursive;          
}
/* Style the side navigation */
.sidenav {
    grid-area: sidenav;
    height: 100%;
    width: 200px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    color: #FFFFFF;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px, 2px 2px 0px rgba(206,89,55,0);
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;          
}
/* Side navigation links */
.sidenav a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
}
/* Change color on hover */
.sidenav a:hover {
    background-color: #ddd;
    color: black;
}
.content { grid-area: content; }

.footer { grid-area: footer; 
    background: #333333 url('images/ALDYZ STATION OVERLAY.png'); /* display: flex; */
    color: #FFFFFF;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px, 2px 2px 0px rgba(206,89,55,0);
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;          
}
#hello {
    text-align: center;
    font-size: 25px;
    padding: 5px;
    margin: 20px;
    display: inline;
}